@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-secondary: 0 0% 97%;
    --foreground: 0 0% 11%;
    --primary: 210 100% 49%;
    --primary-foreground: 0 0% 94%;
    --danger: 0 72% 51%;
    --danger-foreground: 0 0% 94%;
    --radius: 0.5rem;
    --border: 214 32% 91%;
  }

  .dark {
    --background: 0 0% 11%;
    --background-secondary: 0 0% 13%;
    --foreground: 0 0% 100%;
    --border: 215 13% 18%;
  }
}


:where(.lr-file-uploader-minimal lr-drop-area,lr-file-uploader-minimal lr-drop-area) {
  background-color: hsl(var(--background-secondary)) !important;
  border-color: hsl(var(--border)) !important;
  color: hsl(var(--foreground)) !important;
}
