@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-secondary: 0 0% 97%;
    --foreground: 0 0% 11%;
    --primary: 210 100% 49%;
    --primary-foreground: 0 0% 94%;
    --danger: 0 72% 51%;
    --danger-foreground: 0 0% 94%;
    --radius: 0.5rem;
    --border: 214 32% 91%;
    --size: 35px;
    --size-md: calc(var(--size) + 5px);
    --size-lg: calc(var(--size) + 10px);
    --gap: 20px;
  }

  .dark {
    --background: 0 0% 11%;
    --background-secondary: 0 0% 13%;
    --foreground: 0 0% 100%;
    --border: 215 13% 18%;
  }
}


:where(.lr-file-uploader-minimal lr-drop-area,lr-file-uploader-minimal lr-drop-area) {
  background-color: hsl(var(--background-secondary)) !important;
  border-color: hsl(var(--border)) !important;
  color: hsl(var(--foreground)) !important;
}

lr-file-item > .inner {
  background-color: hsl(var(--background-secondary)) !important;
  border-color: hsl(var(--border)) !important;
  color: hsl(var(--foreground)) !important;
}

.lr-file-uploader-minimal lr-file-item, lr-file-uploader-minimal lr-file-item {
  background-color: var(--background-secondary) !important;
  border-radius: var(--radius) !important;
}

.lr-file-uploader-minimal lr-upload-list .toolbar .add-more-btn, lr-file-uploader-minimal lr-upload-list .toolbar .add-more-btn {
  height: var(--size-md) !important;
  margin-top: var(--gap) !important;
  background-color: hsl(var(--background-secondary)) !important;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--background-secondary));
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--background));
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--foreground));
}

/* TODO: remove */

.translate-x-0 {
  transform: translateX(0);
}